{
  "semi": true,
  "tabWidth": 2,
  "useTabs": false,
  "printWidth": 120,
  "singleQuote": true,
  "trailingComma": "none",
  "space-before-function-paren": true,
  "insertSpaceBeforeFunctionParenthesis": true,
  "insertSpaceAfterFunctionKeywordForAnonymousFunctions": true
}
